* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.calulator {
    display:  grid;
    grid-template-columns: auto auto auto auto;
    
}
.grid-span2 {
    grid-column: span 3;
}

.span2 {
    grid-column: span 2;
}
.container {
    width: 300px;

    
}
.input {
    grid-column: span 1;
}

button {
    
    padding: 30px;
}
.yellow {
    background-color: yellow;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20%;
    left: 40%;

    input {
        height: 80px;
        background-color: black;
        color: white;
    }
}