* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.calulator {
    display:  grid;
    grid-template-columns: auto auto auto auto;
    
}
.grid-span2 {
    grid-column: span 3;
}

.span2 {
    grid-column: span 2;
}
body {
    background-color: #0a2463;
}
.container {
    width: 300px;

   
}
.input {
    grid-column: span 1;
    font-size: 0em;
}

button {
    border: 1px solid #1e1e24;
    padding: 30px;
    border-radius: 200px;
    background-color: #fff8f0;
    transition: 0.3s;
    font-size: 1.5em;
    cursor: pointer;
}

button:hover {
    background-color: #b6c7f6;
}
.yellow {
    border: none;
    color: white;
    font-size: 1.5em;
    border: 1px solid #1e1e24;
    background-color: #92140c;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20%;
    left: 40%;

    input {
        height: 80px;
        background-color: #1e1e24;
        color: white;
        font-size: 2em;
        border-radius: 10px;
        caret-color: transparent;
        border: none;
    }
}